<%
var cat = page.categories.data.find(c => !c.parent)
var a = page.categories.data.filter(c => c.parent == cat._id)
// console.log(Object.keys(a[0].posts.data[0]), a[0].posts.data[0].date)

var categories = site.categories.find({parent: cat._id})
categories.data.sort((a,b) => { return a.name > b.name ? 1 : -1 })
categories.data.sort((a,b) => {
  let aPosts = a.posts.data
  let bPosts = b.posts.data
  aPosts.sort((a,b)=> a.date.format() > b.date.format() ? 1 : -1)
  bPosts.sort((a,b)=> a.date.format() > b.date.format() ? 1 : -1)
  return aPosts[0].date.format() > bPosts[0].date.format() ? 1 : -1
})

function isActive(c){
  c.posts.data.findIndex()
}
%>

<div class="sidebar">
  <p class="sidebar-header"><%= cat.name %></p>
  <div class="sidebar-body" ID="sidebar-body">
    <ol class="sidebar-list sidebar-list-1">
    <% categories.forEach( c => { %>
      <li class="sidebar-list-item"> 
        <a class="sidebar-title sidebar-title-<%- c._id %>
           <%- c.posts.data.findIndex(a => a.path == page.path) > -1 ? '' : 'sidebar-title-collapsed'  %>" 
          onclick="
          (function(){
            document.querySelector('.sidebar-title-<%- c._id %>').classList.toggle('sidebar-title-collapsed')
            document.querySelector('#sidebar-<%- c._id %>').classList.toggle('sidebar-is-collapsed')
          })()
          "><%= c.name %>(<%= c.posts.length %>)</a>
        <ol id="sidebar-<%- c._id %>" 
            class="sidebar-list sidebar-list-2 sidebar-is-collapsible
            <%- c.posts.data.findIndex(a => a.path == page.path) > -1 ? '' : 'sidebar-is-collapsed'  %>">
          <% var posts = c.posts.data; 
            posts.sort((a,b)=> a.date.format() > b.date.format() ? 1 : -1)
          %>
          <% posts.forEach( p => { %>
          <li class="sidebar-list-item <%- p.path == page.path ? 'is-active-li' : '' %>" > 
            <a class="sidebar-link <%- p.path == page.path ? 'sidebar-active-link' : '' %>" href="<%- url_for(p.path) %>">
              <%= p.title %>
            </a>
          </li>
          <% }) %>
        </ol>
      </li>
    <% }) %>
    </ol>
  </div>
</div>
